      <nav class="site-nav">
        <ul class="site-nav-list">
          <li class="site-nav-item site-nav-end-item site-nav-logo-item">
            <a class="site-nav-link site-nav-logo-link" data-ht=
            "Headerlogocollapsed" href="/"><img alt="USA TODAY" class=
            "site-nav-logo-img" height="40" src=
            "http://www.gannett-cdn.com/sites/usatoday/images/site-nav-logo@2x.png"></a>
          </li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-end-item site-nav-first-primary-item site-nav-text-item site-nav-news-item site-nav-module site-nav-news-module"
          id="module-position-ODqqfhskm4Q"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-end-link site-nav-first-primary-link site-nav-text-link site-nav-news-link"
          data-ht="Headernews" href="/articles/news/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-end-span site-nav-first-primary-span site-nav-text-span news-theme-bg-hover usatoday-theme-bg-hover site-nav-news-span <%= @news_active %>">
          News</span><span class=
          "site-nav-theme-border news-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-sports-item site-nav-module site-nav-sports-module"
          id="module-position-ODqqfh0xLqE"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-sports-link"
          data-ht="Headersports" href="/articles/sports/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span sports-theme-bg-hover usatoday-theme-bg-hover site-nav-sports-span <%= @sports_active %>">
          Sports</span><span class=
          "site-nav-theme-border sports-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-life-item site-nav-module site-nav-life-module"
          id="module-position-ODqqfh1THBA"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-life-link"
          data-ht="Headerlife" href="/articles/life/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span life-theme-bg-hover usatoday-theme-bg-hover site-nav-life-span <%= @life_active %>">
          Life</span><span class=
          "site-nav-theme-border life-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-money-item site-nav-module site-nav-money-module"
          id="module-position-ODqqfh5AXNc"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-money-link"
          data-ht="Headermoney" href="/articles/money/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span money-theme-bg-hover usatoday-theme-bg-hover site-nav-money-span <%= @money_active %>">
          Money</span><span class=
          "site-nav-theme-border money-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-tech-item site-nav-module site-nav-tech-module"
          id="module-position-ODqqfiX-CR4"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-tech-link"
          data-ht="Headertech" href="/articles/tech/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span tech-theme-bg-hover usatoday-theme-bg-hover site-nav-tech-span <%= @tech_active %>">
          Tech</span><span class=
          "site-nav-theme-border tech-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-travel-item site-nav-module site-nav-travel-module"
          id="module-position-ODqqfiXCgNk"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-travel-link"
          data-ht="Headertravel" href="/articles/travel/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span travel-theme-bg-hover usatoday-theme-bg-hover site-nav-travel-span <%= @travel_active %>">
          Travel</span><span class=
          "site-nav-theme-border travel-theme-bg usatoday-theme-bg"></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-text-item site-nav-opinion-item site-nav-module site-nav-opinion-module"
          id="module-position-ODqqfjEUS1Q"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-text-link site-nav-opinion-link"
          data-ht="Headeropinion" href="/articles/opinion/"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-text-span opinion-theme-bg-hover usatoday-theme-bg-hover site-nav-opinion-span <%= @opinion_active %>">
          Opinion</span><span class=
          "site-nav-theme-border opinion-theme-bg usatoday-theme-bg "></span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-more-item site-nav-text-item site-nav-module site-nav-text-module"
          id="module-position-">
            <span class="site-nav-inner-wrap"><a class=
            " site-nav-link site-nav-link-theme-usatoday site-nav-more-link site-nav-text-link"
            data-ht="Headertext" href="">
            <div class="site-nav-span-wrap site-nav-more-span-wrap">
              <span class="site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-span site-nav-span-theme-usatoday site-nav-more-span site-nav-text-span">
              More</span></span></span></span></span></span></span></span>
            </div></a></span>

            <div class=
            "site-nav-dropdown site-nav-more-dropdown site-nav-more-dropdown-1col">
            <div class=
            "site-nav-dropdown-inner-wrap site-nav-more-dropdown-inner-wrap">
                <ul class=
                "site-nav-more-dropdown-list site-nav-more-dropdown-list-1col">
                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermorenews" href="/news/">News</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermoresports" href="/sports/">Sports</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermorelife" href="/life/">Life</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermoremoney" href="/money/">Money</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermoretech" href="/tech/">Tech</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermoretravel" href="/travel/">Travel</a>
                  </li>

                  <li class=
                  "site-nav-more-dropdown-item site-nav-more-dropdown-item-1col">
                  <a class="site-nav-more-dropdown-link" data-ht=
                  "Headermoreopinion" href="/opinion/">Opinion</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-primary-item site-nav-spacer-item site-nav-spacer-item site-nav-module site-nav-spacer-module"
          id="module-position-"><span class="site-nav-inner-wrap"></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-secondary-item site-nav-end-item site-nav-first-secondary-item site-nav-icon-item site-nav-search-item site-nav-module site-nav-search-module"
          id="module-position-ODqqfka_AYw"><span class=
          "site-nav-inner-wrap"><a class=
          " site-nav-link site-nav-link-theme-usatoday site-nav-end-link site-nav-first-secondary-link site-nav-icon-link site-nav-search-link"
          data-ht="Headersearch" href="/search"><span class=
          "site-nav-span site-nav-span-theme-usatoday site-nav-end-span site-nav-first-secondary-span site-nav-icon-span site-nav-search-span">
          Search</span></a></span></li>

          <li class=
          "site-nav-item site-nav-item-theme-usatoday site-nav-secondary-item site-nav-end-item site-nav-last-secondary-item site-nav-icon-item site-nav-user-item site-nav-module site-nav-user-module"
          id="module-position-ODqqfkWuKVQ">
            <span class="site-nav-inner-wrap"><a class=
            " site-nav-link site-nav-link-theme-usatoday site-nav-end-link site-nav-last-secondary-link site-nav-icon-link site-nav-user-link"
            data-ht="Headeruser" href="/">
            <div class="site-nav-span-wrap site-nav-icon-span-wrap">
              <span class="site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-inner-wrap"><span class=
              "site-nav-span site-nav-icon-span site-nav-alt-span site-nav-user-avatar-span">
              <img class="site-nav-user-avatar-image" height="22" width=
              "22"></span><span class=
              "site-nav-span site-nav-span-theme-usatoday site-nav-end-span site-nav-last-secondary-span site-nav-icon-span site-nav-user-span">User</span></span></span></span></span></span></span></span>
            </div></a></span>

            <div class="site-nav-dropdown dropdown site-nav-user-dropdown">
              <div class=
              "site-nav-user-dropdown-wrap site-nav-user-logged-out-wrap">
                <a class=
                "ui-btn header-nav-dropdown-dark-btn site-nav-user-btn site-nav-user-login-btn site-nav-user-login-facebook-btn"
                data-ht="HeaderUserAuthLogin" data-user-account="facebook">Sign
                in with Facebook</a><a class=
                "ui-btn header-nav-dropdown-dark-btn site-nav-user-btn site-nav-user-login-btn site-nav-user-login-google-btn"
                data-ht="HeaderUserAuthLogin" data-user-account="google">Sign
                in with Google</a><a class=
                "site-nav-user-dropdown-link site-nav-user-sign-in-faq-link"
                href=
                "http://www.usatoday.com/conversation-guidelines/index.html#signinfaq">Sign
                In FAQ</a>
              </div>

              <div class=
              "site-nav-user-dropdown-wrap site-nav-user-logged-in-wrap">
                <p class="site-nav-user-logged-in-text">You are logged in as
                <span class="site-nav-user-display-name"></span></p><a class=
                "ui-btn header-nav-dropdown-dark-btn site-nav-user-btn site-nav-user-logout-btn"
                data-ht="HeaderUserAuthLogout" data-user-account="">Log
                out</a><a class=
                "site-nav-user-dropdown-link site-nav-user-sign-in-faq-link"
                href=
                "http://www.usatoday.com/conversation-guidelines/index.html#signinfaq">Sign
                In FAQ</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>